[package]
name = "tap-rs"
version = "0.1.0"
authors = ["Andreas Baulig <free.geronimo@hotmail.de>"]
edition = "2018"
description = "Parse Test Anything Protocol (TAP) files"
keywords = ["tap", "test-anything-protocol"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.65"
clap = { version = "3.2.20", features = ["derive"] }
pest = "2.3.1"
pest_derive = "2.3.1"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"

[lib]
name = "tap"
path = "src/lib.rs"

[[bin]]
name = "tap"
path = "src/main.rs"
